.profile {
  display: flex;
  width: calc(100% - 400px);
  padding: 0 200px;
  color: white;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .profile {
    flex-direction: column;
    padding: 0 19px;
    width: calc(100% - (19px + 19px));
    justify-content: space-between;
  }
}