.profile__avatar {
  grid-area: profile__avatar;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: left center;
}

@media screen and (max-width: 1023px) {
  .profile__avatar {
    margin: 0 auto;
  }
}
